@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: $background;
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: $text;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

input{
    border: none;
    background-color: #fff;
    height: 3em;
    padding: 0 .7em;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 1.3em 0;
}

.btn{
    padding: .8em;
    background-color: $orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    transition: ease background-color .3s;

    &:hover{


        cursor: pointer;
        background-color: darken($orange, 15%);
    }
}

.btn-outline{
    padding: .3em 1em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    background-color: transparent;
    transition: .3s background-color ease;

    &:hover{
        cursor: pointer;
        background-color: #fff;
        color: $purple;
    }
}

.nav{
    position: relative;
    padding: 0 4em;
    margin: 0 auto;
    -webkit-box-shadow: 0px -10px 20px 10px rgba(168,168,168,1);
    -moz-box-shadow: 0px -10px 20px 10px rgba(168,168,168,1);
    box-shadow: 0px -10px 20px 10px rgba(168,168,168,1);
    z-index: 100;
    background-color: #fff;

    .menu{
        text-transform: capitalize;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 8em;

            i{
                display: none;

            }

            img{
                width: 100%;
                object-fit: contain;
            }

        }//end logo

        .options{
            ul{
                li{
                    display: inline;
                    margin: 0 1em;

                    a{
                        color:$text;
                        position: relative;
                        

                        &::after{
                            content: "";
                            position: absolute;
                            display: inline-block;
                            width: 0;
                            height: .4em;
                            left: -2px;
                            bottom: -5px;
                            background: $gradient;
                            transition: ease .3s all;
                            
                        }//end a after
                    }//end a

                    &:hover{
                        a{
                            
                            &::after{
                                content: "";
                                position: absolute;
                                display: inline-block;
                                width: 100%;
                                height: .4em;
                                left: -2px;
                                bottom: -5px;
                                background: $gradient;
                            }//end a after
                        }// end a
                    }//end li hover
                } // end li
            }//end ul
        }// end options

        @media (max-width: 780px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            justify-content: space-between;
            align-items: center;
            position: relative;

            .logo{
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                i{
                    display: inline-block;
                    font-size: 1.4em;
                    cursor: pointer;
                }

                img{
                    width: 8em;
                }
                
            }//end logo
        
            .options{
                display: none;
                transition: .3s all ease;
                
                ul{
                    li{
                        display: block;
                        margin: 2em 0;
                        text-align: center;
                    }
                }

            }//end options

            .options.active{
                display: block;
            }//end options
        }//end media

    }// end menu
}//end nav

.main{

    .hero-banner{
        width: 100%;
        height: 70vh;
        background: url(../img/Blog/Recurso_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;

        h2{
            text-transform: uppercase;
            font-size: 4rem;
            position: relative;
            text-shadow:  0px 2px 1px rgba(168,168,168,1);

            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                width: 70%;
                height: 4px;
                background-color: $purple;
                bottom: 0;
                left: .4em;
            }
        }

    }//end hero-banner

    .news{
        padding: 1em 2em;
        position: relative;
        background-image: url(../img/Blog/Recurso_2.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100% 35%;

        h2{
            color: #ffffff;
            font-size: 2.3em;

            &::after{
                content: "";
                display: inline-block;
                width: 70%;
                margin: .3em 1em;
                height: 1px;
                background-color: #fff;
            }
        }

        .wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            margin: 0 auto;
            gap: 2em;
    
            .news-card{
                max-width: 100%;
                z-index: 50;
    
                .card-img{
                    width: 100%;
                    
                    img{
                        width: 100%;
                        object-fit: contain;
                        border-radius: 10px;
                    }
                }//end card-img
    
                .card-content{
                    max-width: 90%;
                    padding: 1em;
                    border-radius: 10px;
                    margin: 0 auto;
                    background-color: #fff;
                    position: relative;
                    top: -1rem;
                    background-color: $purple;
                    
    
                    &::after{
                        content: attr(card-content);
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: .4em;
                        border-radius: 10px;
    
                    }

                    .date,
                    .more,
                    .title,
                    .content{
                        z-index: 10;
                        position: relative;
                    }
                    
                    .more,
                    .content{
                        font-size: .8rem;
                        margin-bottom: 1em;
                    }

                    .date{
                        color: $purple;
                        font-size: .9rem;
                        font-weight: 300;
                        border-radius: 5px;
                        padding: .4em 1em;
                        background-color: $lightRose;
                    }//end date

                    .more{
                        color: $purple;                        
                    }//end more
                }//end card-content
    
            }//end news-card
        }// wrapper
    }//end news

    .blog-entries{
        padding: 3em 1em;

        h2{
            &:first-child{
                background-color: $background;
                display: inline-block;
                padding: 0 1em;
                position: absolute;
                top: 2.3em;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
            }
        }

        .container{
            padding: 2em;
            border: 2px solid $purple;
            -webkit-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
            -moz-box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
            box-shadow: 0px 0px 8px 1px rgba(153,153,153,1);
            position: relative;
            
            .image{
                width: 100%;
                margin-bottom: 2em;
                img{
                    width: 100%;
                    object-fit: contain;
                }
    
            }//end image

            .content{
                .date{
                    color: $purple;
                    font-size: .9rem;
                    font-weight: 300;
                    border-radius: 5px;
                    padding: .4em 1em;
                    background-color: $lightRose;
                    display: inline;
                }//end date

                h2{
                    display: inline-block;
                    margin-bottom: 1em;
                    margin-left: 1.5em;
                }
            }//edn content
            
        }// end container
    }//end blog-entries

    .contactus{
        min-height: 100vh;
        .wrapper{ 
            min-height: 100vh;

            .banner-1{
                top: 0;
                width: 100%;
                height: 52.5em;
                background-image: url(../img/Contacto/Recurso_1.png);
                background-position: top;
                background-repeat: no-repeat;
                background-size: 100% ;
                color: #fff;
                text-align: center;
                padding-top: 7em;
                background-size: cover;
                z-index: 10;

                .content{
                    width: 50%;
                    margin: 0 auto;
                    margin-top: 11%;

                    h2{
                        position: relative;
                        font-size: 4rem;
                        text-shadow:  0px 2px 1px rgba(168,168,168,1);
                        margin-bottom: 1em;
    
                        &::after{
                            content: "";
                            width: 5em;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%);
                            
                        }

                        
                    }//end h2
                    p{
                        font-size: 1.4em;
                    }
                }//end content

            }// end banner-1

            .banner-2{
                position: relative;
                height: 60em;
                width: 100%;
                background-image: url(../img/Contacto/Recurso_2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                z-index: 20;
                margin: -21em 0;
                
                .content{
                    display: inline-block;
                    width: 60%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 10%;
                    margin-left: auto;

                    .title{
                        
                        h3{
                            color: $purple;
                            margin: 0;
                            font-weight: 700;
                            font-size: 2em;

                            span{
                                font-weight: 300;
                            }

                        }


                    }//end title

                    .data{
                        margin-top: 3em ;
                        p{
                            font-weight: 300;

                            i{
                                margin-right: 1em;
                                font-size: 1em;
                            }//end i 
                        }//end p
                    }//end data

                }//end content

            }// end banner-2

            .banner-3{
                height: calc(70em + 100%) ;
                width: 100%;
                position: relative;
                background-image: url(../img/Contacto/Recurso_3.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: bottom;
                background-size: cover;
                z-index: 30;
                padding: 0 1em;

                .grid{
                    display: grid;
                    gap: 1em;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    grid-template-rows: auto;

                    .phone{
                        width: 100%;
                        position: relative;
                        padding: 0 1em 5em 1em ;

                        .info{
                            text-align: center;
                            padding-left: 16%;
                            
                            h3{
                                color: $purple;
                                text-transform: uppercase;
                                font-weight: 700;
                                margin-bottom: .6em;
                                font-size: 2em;

                                span{
                                    font-weight: 300;
                                }
                            }

                            p{
                                font-weight: 300;
                            }

                            i{
                                margin: .4em;
                                font-size: 2em;
                                color: $purple;
                                transition: .3s all ease;

                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }//end info

                        img{
                            position: relative;
                            width: 90%;
                            object-fit: contain;
                        }
                    }//end phone

                    .send-message{
                        text-align: right;
                        padding: 1em;
                        align-self: center;
                        color: #fff;
                        position: relative;
                        
                        .title{
                            padding-right: 1em;
                            margin-bottom: 1em;

                            &::after{
                                content: "";
                                position: absolute;
                                right: 1em;
                                width: 2px;
                                top: 1.8em;
                                height: 4.5em;
                                background-color: #fff;
                            }

                            h3{
                                text-transform: uppercase;
                                font-weight: 700;
                                margin: .2em 0;
                                font-size: 2em;

                                span{
                                    font-weight: 300;
                                }
                                
                            }
                        

                        }//end title

                        textarea{
                            padding: .5em;
                            width: 100%;
                            border: none;

                        }//end textarea

                        input,
                        textarea{
                            margin: 1em 0;
                            text-align: right;
                        }

                    }//end send-message
                }//end grid
            }// end banner-3

        }//end wrapper
    }//end contactus

    .main-hero-banner{
        width: 100%;
        height: 100%;
        
        .banner{
            // padding: 20em;
            width: 100%;
            height: 100vh;
            background: url(../img/bgs/main-hero-banner.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }//end banner

        .services{
            padding: 1em 2.3em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            justify-content: center;
            background-color: $purple;

            .support,
            .best-price,
            .best-selection,
            .secure-payments{
                color: #fff;

                h3{
                    font-size: 1.4em;
                    margin-top: 0;
                    margin-bottom: 1em;

                    img{
                        position: relative;
                        width: 1em;
                        top: .2em;
                        margin-right: .3em;
                    }
                }
            }//end group
        }// services
    }//end ain-hero-banner

    .featured-tours{

        .title{
            font-size: 2.3rem;
            font-weight: 700;
            background: $gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            padding-left: 3em;

            &::before{
                content: "";
                width: .1em;
                height: .75em;
                display: inline-block;
                margin-right: .3em;
                background-color: $purple;
                
            }

        }//end title

        position: relative;
        .flyer{
            width: 100%;
            height: 100vh;
            padding: 1em 3em;
            position: relative;

            &:nth-child(2){
                background-image: url(../img/HOME/Recurso_7.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

            }
            
            &:nth-child(4){
                background-image: url(../img/HOME/Recurso_8.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:nth-child(6){
                background-image: url(../img/HOME/Recurso_9.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            h2{
                margin-top: 1%;
                margin-left: 5%;
                position: absolute;
                max-width: 65%;
                font-size: 4.7vw;
                color: #fff;
                font-weight: 400;
                z-index: 100000;
                text-shadow:  0px 4px 6px rgba(168,168,168,1);

                i{
                    margin: 0 .1em;
                }
            }
        }//end flayer

        .wrapper{
            display: grid;
            grid-template-columns: auto 300px;

            @media (max-width: 768px){
                grid-template-columns: auto;
            }

            .description{
                background-color: #fff;
                padding: 1em;

                h3{
                    font-weight: bold;
                    margin: 3px 0;

                    &::before{
                        content: "";
                        width: .1em;
                        height: .85em;
                        display: inline-block;
                        margin-right: .3em;
                        background-color: $purple;
                        
                    }
                }
            }//end description

            .price{
                background-color: $purple;
                min-width: 300px;
                color: #fff;
                padding: .5em;
                display: flex;


                .info{
                    width: 50%;
                    height: 100%;
                    
                    span{
                        margin: 0 auto;
                        font-size: 13px;
    
                        &:nth-child(2){
                            font-size: 3.4em;
                        }
                    }//end span
                }// end info



                .btn-outline{
                    // width: 50%;
                    // height: 100%;
                    font-size: 1em;
                    margin: 1.6em auto;
                }// end btn-outline
            }//end price
        }//end wrapper
    }//end featured-tours

    .we-mark{
        margin: 0 auto;

        h2{
            position: relative;
            text-align: center;
            font-size: 2.5em;

            &::after{
                content: "";
                display: block;
                width: 4em;
                height: 4px;
                background-color: $purple;
                margin: 0 auto;
            }

        }

        .wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            align-items: center;
            justify-content: stretch;

            .image{
                // width: 120%;
                height: 90%;
                position: relative;
                right: -25px;

                img{
                    height: 100%;
                    object-fit: contain;
                }

                &::before{
                    content: "";
                    display: inline-block;
                    background: url(../img/HOME/Recurso_11.png);
                    background-repeat: no-repeat ;
                    position: absolute;
                    top: -2em;
                    width: 4em;
                    height: 100%;

                    
                    
                }
                
            }//end image
            
            @media (max-width:910px) {
                .image{
                    display: none;
                }
            }
            
            .content{
                position: relative;
                left: -3em;
                // max-width: 500px;
                height: 100%;
                padding: 7em 2em 7em 7em;
                background: rgb(221,219,219);
                background: linear-gradient(90deg, rgba(221,219,219,1) 65%, rgba(255,255,255,1) 100%);
                clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
                -webkit-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
                -moz-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
                box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);

                span{
                    color: $purple;
                }
            }//end content
        }// end wrapper
    }//end we-mark

    .promotions{
        padding: 4em;

        .title{
            font-size: 2.3rem;
            font-weight: 700;
            background: $gradient;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;

            &::before{
                content: "";
                width: .1em;
                height: .75em;
                display: inline-block;
                margin-right: .3em;
                background-color: $purple;
                
            }


        }//end title

        .wrapper{
            display: grid;
            gap: 3em;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
            margin: 0 auto;

            .promo-card{
                max-width: 400px;
                padding: 1em;
                background-color: #fff;
                margin: 0 auto;
                -webkit-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
                -moz-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
                box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);

                .image{
                    width: 100%;

                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }// end image

                .buttons{
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: nowrap;

                    .btn-outline{
                        border: 1px solid $purple;
                        color: $purple;
                        transition: .3s ease all;
    
                        &:hover{
                            background: $gradient;
                            color: #fff;
                        }//end hover
                    }//end btn-outline
                }//end buttons

            }//end promo-card
        }//end wrapper
    }//end promotions

    .clients-review{
        padding: 2em 1em;
        margin: 1em 0;


        .header{
            position: relative;
            margin-left: 1em;

            h2{
                font-size: 2.3rem;
                font-weight: 700;
                background: $gradient;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
                margin: 0;
                margin-left: 1em;
                
            
                span{
                    font-weight: 400;
                }
            }

            p{
                margin-left: 2.2em;
            }

            &::before{
                content: "";
                width: 3px;
                height: 4em;
                background-color: red;
                position: absolute;
                left: 0;
                bottom: 0;
            }//end before


        }//edn header
        .carousel{
            position: relative;

            .container{
                width: 90%;
                padding: 3em;
                display: flex;
                align-items: center;
                margin: 0 auto;

                .carousel__photo{
                    background-image: url(../img/HOME/Recurso_18.png);
                    max-width: 9em;
                    max-height: 9em;
                    // background-color: red;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    display: flex;
                    justify-content: center;
                    align-self: center;

                    img{
                        width: 100%;
                        margin: .1em;
                        object-fit: contain;
                    }

                }//end photo

                .carousel__description{
                    width: 100%;
                    padding: 1em;

                    .description__footer{
                        text-align: right;
                        p{
                            text-transform: capitalize;
                            font-weight: 700;
                        }
                        span{
                            font-weight: 300;
                        }
                    }//end description__footer
                }//end description
            }//end container
        }//end carousel
    }// end clients-review

    .booking{
        // padding: 2em;
        background-color: #fff;
        position: relative;
        
        .collage{
            max-width: 100%;
            min-height: 100vh;
            position: absolute;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

            .collage__item{
                width: 100%;
                object-fit: contain;

            }//end collage__item
        }//end collage

        .book-now{
            max-width: 600px;
            padding: 1em;
            color: #fff !important;
            background-color: $gradientBackground;
            background: $gradient;
            margin: 0 auto calc(15%) auto;
            clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            text-align: center;
            position: relative;
            z-index: 10;

            h2{
                font-size: 3rem;
                margin: .3em 0;
            }

            .btn-outline{
                margin: 1.3em auto;
            }
        }//end book-now
    }//end booking

    .tours{
        .our-tours{
            padding: 1em;
            background-image: url(../img/Tours/Recurso_5.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 30%;

            .title{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 3em;

                h2{
                    color: $purple;
                    text-transform: uppercase;
                    font-size: 40px;
                    margin: 0;
                    text-align: right;

                    span{
                        letter-spacing: .7em;
                        font-weight: 300;
                        display: block;
                        font-size: 22px;
                        margin: 0;
                        position: relative;
                        bottom: -13px;
                        right: -11px;
                    }//end span
                }//end h2

                .decoration{
                    display: inline-block;
                    padding: .4em 1em;
                    background-color: #676364;
                    width: 13em;
                    color: #fff;
                    font-size: 12px;
                    text-transform: capitalize;
                    position: relative;
                    margin-left: 2em;

                    &::before{
                        content: "";
                        position: absolute;
                        width: 2px;
                        top: -10px;
                        bottom: -10px;
                        left: 0;
                        background-color: #676364;
                    }
                    
                }//end decoration
            }//end title
    
            .wrapper{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: .1em;
                margin-bottom: 8em;
    
    
                .tour-card{
                    background-color: $purple;
                    
                    .title{
                        width: 100%;
                        height: 27em;
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-image: url(../img/Tours/Recurso_1.png);
                        background-position: center;
                        background-size: cover;
    
                    }//end title
    
                    .decription{
                        padding: 3em;
                        color: #fff;
                        font-size: .8em;
                        text-align: center;
                    }//end description
    
                    .btn-outline{
                        margin: 1.6em auto 0 auto;
                    }
                }//end tour-card
    
            }//end wrapper
        }//end our-tours

        .tours-info{
            margin-bottom: 3em;
    
            .custom-title{
                background-color: $purple;
                font-weight: 700;
                color: #ffffff;
                padding: 1em;
                font-size: 2.5em;
                width: 30%;
                text-align: center;
                margin: 0 auto;
                position: relative;
                top: -1.5em;
    
                span{
                    font-weight: 300;
                }
            }
    
            .container{
                background-color: #fff;
                position: relative;
    
                .city{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
                    margin-left: auto;
                    position: relative;
                    // top: -3em;
    
                    .data{
                        max-width: 550px;
                        padding: 2em 2em 2em 3em;
    
                        h2{
                            color: $purple;
                            text-transform: capitalize;
                            
                            i{
                                margin-right: 1em;
                            }
                        }
    
                        .info-container{
                            max-width: 48%;
    
                            .title{
                                h3{
                                    margin-bottom: 0;
                                    font-weight: 300;
                                    color: $purple;
                                }
                            }
    
                            .descrip{
                                margin-left: 1em;
                                padding-left: 1em;
                                position: relative;
    
                                &::before{
                                    content: "";
                                    width: 2px;
                                    display: block;
                                    background-color: lighten( $text, 30%);
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                }//end before
                            }//end descrip
                        }//end info-container
    
                        .icons{
                            padding: 2.3em  1.5em;
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
    
                            .icon{
                                flex-shrink: 0;
                                text-align: center;
                            }//end icon
                        }//edn icons
    
    
                    }//end data
    
                    .video{
                        position: relative;
                        padding: 2em 0;
    
                        .container{
                            background-color: $purple;
                            height: 80%;
                            position: relative;
    
                            iframe{
                                position: absolute;
                                width: calc(100% - 10px);
                                height: 100%;
                                bottom: 10px;
                                left: 10px;
                            }
                        }//end container
    
                        .video-description{
                            padding: .5em 1em;
                            font-weight: 300;
                            color: $purple;
                            text-align: center;
                            -webkit-box-shadow: 0px 3px 10px 0px rgba(150,150,150,1);
                            -moz-box-shadow: 0px 3px 10px 0px rgba(150,150,150,1);
                            box-shadow: 0px 3px 10px 0px rgba(150,150,150,1);
                        }// end video-description
                    
                    }//end video
                
                }//city 
            
                .middle{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0 1em;
    
    
                    .btn-outline{
                        border-radius: 0;
                        border: 1px solid $purple;
                        color: $purple;
    
                        &:hover{
                            cursor: pointer;
                            background-color: $purple;
                            color: #fff;
                        }
                    }
    
                    ul{
                        position: relative;
                        margin-left: 1.5em;
    
                        li{
                            margin-left: 3em;
                            font-size: 10px;
                            &:first-child{
                                color: red;
                            }
    
                           
                        }//en li
    
                        &::before{
                            content: "";
                            width: 2px;
                            display: block;
                            background-color: lighten( $text, 30%);
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                        }
                    }//end ul
                }//end middle
    
                .stops{
                    padding: 1em;
                    position: relative;
                    margin-bottom: 3em;
    
                    h2{
                        padding: 0 1.3em;
                        width: 11em;
                        font-weight: 300;
                        color: $purple;
                    }
                    
                    .wrapper{
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
                        gap: 1em;
                        

                        .sites-card{
                            background-color: $purple;
    
                            .image{
                                width: 100%;
                                img{
                                    width: 100%;
                                    object-fit: contain;
                                }
                            }//end image
                        }//end sites-card
                        .description{
                            
                            color: #fff;
                            padding: 1em ;
                            text-align: center;
    
    
                            h3{
                                margin-top: 0;
                            }
    
                        }//end description
                    }//end wrapper
                }//end stops
            }//end container
        }//end tours-info
    }//end tours
}//end main

.footer{
    background-color: $purple;
    padding: 3em 13%;
    color: #fff !important;
    position: relative;
    z-index: 100;
    
    .wrapper{
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
        gap: 2em;

        .policy{
            a{
                color: #fff;
                text-decoration: underline;
            }
        }//end policy

        .contact-us{
            li{
                margin-bottom: 1.4em;
            }
        }

        .news-offers{
            form{
                .btn{
                    margin: 1.5em 0 1.5em auto;
                    position: relative;
                }
            }
        }// news-offers

        .social-networks{
            .box{
                display: inline-block;
                padding: 1.3em;
                border-radius: 3px;
                background-color: #fff;
                margin: 1em .3em;
                position: relative;
                transition: ease .3s all;

                &:hover{
                    transform: scale(1.1);
                }
                
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.2em;
                    color: $purple; 
                }
            }//end box
        }// end social-network
    }//end wrapper
}//end footer



.glide__arrows{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;

    .glide__arrow--right,
    .glide__arrow--left{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: none;
        cursor: pointer;
        

        i{
            font-size: 4em;
            color: $text;
        }
    }

    .glide__arrow--right{
        right: 0;
    }

    .glide__arrow--left{
        left: 0;
    }

}