@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@font-face {
  font-family: 'Myriad';
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
  font-family: 'Nexa Bold';
  src: url("../fonts/Nexa Bold.otf");
}

@font-face {
  font-family: 'Nexa Light';
  src: url("../fonts/Nexa Light.otf");
}

@font-face {
  font-family: 'Calibri Light';
  src: url("../fonts/calibril-thin.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
  font-family: 'Myriad', sans-serif;
  color: #70706e;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  border: none;
  background-color: #fff;
  height: 3em;
  padding: 0 .7em;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.3em 0;
}

h2 {
  font-family: 'Nexa Bold';
}

h3 {
  font-family: 'Nexa Light';
}

.custom-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 230px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 230px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  margin: 1em 0;
}

.custom-wrapper .sites-card {
  background-color: #ce1d47;
}

.custom-wrapper .sites-card .image {
  width: 100%;
}

.custom-wrapper .sites-card .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.custom-wrapper .description {
  color: #fff;
  padding: 1em;
  text-align: center;
}

.custom-wrapper .description h3 {
  margin-top: 0;
}

.btn {
  padding: .8em;
  background-color: #f08237;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-transition: ease background-color .3s;
  transition: ease background-color .3s;
  font-family: 'Nexa Light';
}

.btn:hover {
  cursor: pointer;
  background-color: #cb5b0f;
}

.btn-outline {
  padding: .3em 1em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: transparent;
  -webkit-transition: .3s background-color ease;
  transition: .3s background-color ease;
  font-family: 'Calibri Light';
}

.btn-outline:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ce1d47;
}

.nav {
  position: relative;
  padding: 0 4em;
  margin: 0 auto;
  -webkit-box-shadow: 0px -10px 20px 10px #a8a8a8;
  box-shadow: 0px -10px 20px 10px #a8a8a8;
  z-index: 100;
  background-color: #fff;
}

.nav .menu {
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu .logo {
  width: 8em;
}

.nav .menu .logo i {
  display: none;
}

.nav .menu .logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav .menu .options ul li {
  display: inline;
  margin: 0 1em;
}

.nav .menu .options ul li a {
  color: #70706e;
  position: relative;
  font-weight: bold;
}

.nav .menu .options ul li a:hover {
  color: #ddaec0;
}

.nav .menu .options ul li a.active {
  color: #ce1d47;
}

@media (max-width: 780px) {
  .nav .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .nav .menu .logo {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .menu .logo i {
    display: inline-block;
    font-size: 1.4em;
    cursor: pointer;
  }
  .nav .menu .logo img {
    width: 8em;
  }
  .nav .menu .options {
    display: none;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
  }
  .nav .menu .options ul li {
    display: block;
    margin: 2em 0;
    text-align: center;
  }
  .nav .menu .options.active {
    display: block;
  }
}

.main .hero-banner {
  width: 100%;
  height: 70vh;
  background: url(../img/Blog/Recurso_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

.main .hero-banner h2 {
  text-transform: uppercase;
  font-size: 4rem;
  position: relative;
  text-shadow: 0px 2px 1px #a8a8a8;
  margin-bottom: .8em;
  margin-top: 0;
  font-family: 'Nexa bold';
}

.main .hero-banner h2::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 4px;
  background-color: #ce1d47;
  bottom: 0;
  left: .4em;
  bottom: -.15em;
}

.main .hero-banner p {
  font-size: 1.3em;
  font-family: 'Nexa light';
}

.main .news {
  margin: -1em auto;
  padding: 4em 2em;
  position: relative;
  background-image: url(../img/Blog/Recurso_2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 35%;
}

.main .news h2 {
  color: #ffffff;
  font-size: 2.3em;
  font-family: 'Nexa Bold';
  position: relative;
  margin-left: .5em;
  margin-top: 0;
}

.main .news h2::before {
  content: "";
  width: 5px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -.5em;
}

.main .news h2::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90%;
  margin: .45em 1em .3em;
  height: 1px;
  background-color: #fff;
}

.main .news .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 0 auto;
  gap: 2em;
  margin-bottom: 15em;
}

.main .news .wrapper .news-card {
  max-width: 100%;
  z-index: 50;
}

.main .news .wrapper .news-card .card-img {
  width: 100%;
}

.main .news .wrapper .news-card .card-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.main .news .wrapper .news-card .card-content {
  max-width: 90%;
  padding: 1em;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  top: -1rem;
  background-color: #ce1d47;
  -webkit-box-shadow: 5px 4px 10px -3px #757575;
  box-shadow: 5px 4px 10px -3px #757575;
}

.main .news .wrapper .news-card .card-content::after {
  content: attr(card-content);
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 0;
  top: 0;
  left: .2em;
  border-radius: 10px;
}

.main .news .wrapper .news-card .card-content .date,
.main .news .wrapper .news-card .card-content .more,
.main .news .wrapper .news-card .card-content .title,
.main .news .wrapper .news-card .card-content .content {
  z-index: 10;
  position: relative;
}

.main .news .wrapper .news-card .card-content .more,
.main .news .wrapper .news-card .card-content .content {
  font-size: .8rem;
  margin-bottom: 1em;
}

.main .news .wrapper .news-card .card-content .date {
  color: #ce1d47;
  font-size: .9rem;
  font-weight: 300;
  border-radius: 5px;
  padding: .4em 1em;
  background-color: #ddaec0;
}

.main .news .wrapper .news-card .card-content .more {
  color: #ce1d47;
}

.main .blog-entries {
  padding: 3em 1em;
  margin-top: 3em;
  position: relative;
}

.main .blog-entries h2:nth-child(1) {
  position: absolute;
  font-size: 2.5em;
  font-family: 'Nexa bold';
  background-color: #ffffff;
  color: #ce1d47;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 1.6em;
  position: absolute;
  top: -.6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.main .blog-entries .container {
  padding: 2em;
  border: 2px solid #ce1d47;
  -webkit-box-shadow: 0px 0px 8px 1px #999999;
  box-shadow: 0px 0px 8px 1px #999999;
  position: relative;
}

.main .blog-entries .container .image {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.main .blog-entries .container .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .blog-entries .container .content {
  position: relative;
  padding-bottom: 3em;
}

.main .blog-entries .container .content .date {
  color: #ce1d47;
  font-size: .9rem;
  font-weight: 300;
  border-radius: 5px;
  padding: .4em 1em;
  background-color: #ddaec0;
  display: inline;
}

.main .blog-entries .container .content h2 {
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 1.5em;
  color: #3e4450;
}

.main .blog-entries .container .content h3 {
  margin-bottom: .5em;
  font-weight: bold;
  color: #3e4450;
}

.main .blog-entries .container .content .back {
  display: block;
  position: absolute;
  margin-left: auto;
  color: #ce1d47;
  bottom: 0;
  right: 0;
}

.main .contactus {
  min-height: 100vh;
}

.main .contactus .wrapper {
  min-height: 100vh;
}

.main .contactus .wrapper .banner-1 {
  top: 0;
  width: 100%;
  height: 52.5em;
  background-image: url(../img/Contacto/Recurso_1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  text-align: center;
  padding-top: 7em;
  background-size: cover;
  z-index: 10;
}

.main .contactus .wrapper .banner-1 .content {
  width: 50%;
  margin: 0 auto;
  margin-top: 11%;
}

.main .contactus .wrapper .banner-1 .content h2 {
  position: relative;
  font-size: 5.2rem;
  text-shadow: 0px 2px 1px #a8a8a8;
  margin-bottom: .2em;
}

.main .contactus .wrapper .banner-1 .content h2::after {
  content: "";
  width: 2em;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.main .contactus .wrapper .banner-1 .content p {
  font-size: 1.4em;
  font-family: 'Nexa light';
}

.main .contactus .wrapper .banner-2 {
  position: relative;
  height: 60em;
  width: 100%;
  background-image: url(../img/Contacto/Recurso_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 20;
  margin: -21em 0;
}

.main .contactus .wrapper .banner-2 .content {
  display: inline-block;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  margin-left: auto;
}

.main .contactus .wrapper .banner-2 .content .title h3 {
  color: #ce1d47;
  margin: 0;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: .3em;
  font-family: 'Nexa bold';
  position: relative;
}

.main .contactus .wrapper .banner-2 .content .title h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  background-color: #ce1d47;
  top: 0;
  left: -.5em;
  bottom: -.8em;
}

.main .contactus .wrapper .banner-2 .content .title span {
  font-weight: 300;
  font-family: 'Nexa light';
  color: #868686;
}

.main .contactus .wrapper .banner-2 .content .data {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contactus .wrapper .banner-2 .content .data p {
  font-weight: 300;
  margin-bottom: 2em;
  margin-left: .6em;
  font-family: 'Nexa light';
}

.main .contactus .wrapper .banner-2 .content .data p i {
  margin-right: 1em;
  font-size: 1.7em;
  color: #c6c6c6;
}

.main .contactus .wrapper .banner-3 {
  height: calc(70em + 100%);
  width: 100%;
  position: relative;
  background-image: url(../img/Contacto/Recurso_3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-size: cover;
  z-index: 30;
  padding: 0 1em;
}

.main .contactus .wrapper .banner-3 .grid {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.main .contactus .wrapper .banner-3 .grid .phone {
  width: 100%;
  position: relative;
  padding: 0 1em 5em 1em;
}

.main .contactus .wrapper .banner-3 .grid .phone .info {
  text-align: center;
  padding-left: 16%;
}

.main .contactus .wrapper .banner-3 .grid .phone .info h3 {
  color: #ce1d47;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: .2em;
  margin-top: -2em;
  font-size: 2.3em;
  font-family: 'Nexa bold';
}

.main .contactus .wrapper .banner-3 .grid .phone .info h3 span {
  font-weight: 300;
  font-family: 'Nexa light';
}

.main .contactus .wrapper .banner-3 .grid .phone .info p {
  font-weight: 300;
  font-family: 'Nexa light';
  margin-bottom: 1em;
}

.main .contactus .wrapper .banner-3 .grid .phone .info i {
  margin: .4em;
  font-size: 3em;
  color: #ce1d47;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.main .contactus .wrapper .banner-3 .grid .phone .info i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .contactus .wrapper .banner-3 .grid .phone img {
  position: relative;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .contactus .wrapper .banner-3 .grid .send-message {
  text-align: right;
  padding: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  position: relative;
}

.main .contactus .wrapper .banner-3 .grid .send-message .title {
  padding-right: 1em;
  margin-bottom: 4.5em;
}

.main .contactus .wrapper .banner-3 .grid .send-message .title::after {
  content: "";
  position: absolute;
  right: 1em;
  width: 2px;
  top: 1em;
  height: 4em;
  background-color: #fff;
}

.main .contactus .wrapper .banner-3 .grid .send-message .title h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: .2em 0;
  font-size: 2.3em;
  font-family: 'Nexa bold';
}

.main .contactus .wrapper .banner-3 .grid .send-message .title h3 span {
  font-weight: 300;
  font-family: 'Nexa light';
}

.main .contactus .wrapper .banner-3 .grid .send-message .title p {
  font-family: 'Nexa light';
}

.main .contactus .wrapper .banner-3 .grid .send-message .grid {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 1.5em;
}

.main .contactus .wrapper .banner-3 .grid .send-message textarea {
  padding: .5em;
  width: 100%;
  border: none;
}

.main .contactus .wrapper .banner-3 .grid .send-message input,
.main .contactus .wrapper .banner-3 .grid .send-message textarea {
  margin: 1em 0;
  text-align: right;
}

.main .contactus .wrapper .banner-3 .grid .send-message .btn-outline {
  padding: .7em 2.8em;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .2em;
}

.main .main-hero-banner {
  width: 100%;
  height: 100%;
}

.main .main-hero-banner .banner {
  width: 100%;
  height: 70vh;
  background: url(../img/bgs/main-hero-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .main-hero-banner .services {
  padding: 1em 2.3em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ce1d47;
}

.main .main-hero-banner .services .support,
.main .main-hero-banner .services .best-price,
.main .main-hero-banner .services .best-selection,
.main .main-hero-banner .services .secure-payments {
  color: #fff;
}

.main .main-hero-banner .services .support h3,
.main .main-hero-banner .services .best-price h3,
.main .main-hero-banner .services .best-selection h3,
.main .main-hero-banner .services .secure-payments h3 {
  font-family: 'Nexa Bold';
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 1em;
}

.main .main-hero-banner .services .support h3 img,
.main .main-hero-banner .services .best-price h3 img,
.main .main-hero-banner .services .best-selection h3 img,
.main .main-hero-banner .services .secure-payments h3 img {
  position: relative;
  width: 1em;
  top: .2em;
  margin-right: .3em;
}

.main .main-hero-banner .services .best-price h3 span {
  display: block;
  margin-left: 3em;
}

.main .featured-tours {
  position: relative;
}

.main .featured-tours .title {
  font-size: 2.3rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#d52553), color-stop(35%, #f18b43));
  background: linear-gradient(to right, #d52553 0%, #f18b43 35%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding-left: 3em;
}

.main .featured-tours .title::before {
  content: "";
  width: .1em;
  height: .75em;
  display: inline-block;
  margin-right: .3em;
  background-color: #ce1d47;
}

.main .featured-tours .flyer {
  width: 100%;
  height: 100vh;
  padding: 1em 3em;
  position: relative;
}

.main .featured-tours .flyer:nth-child(2) {
  background-image: url(../img/HOME/Recurso_7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main .featured-tours .flyer:nth-child(4) {
  background-image: url(../img/HOME/Recurso_8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .featured-tours .flyer:nth-child(6) {
  background-image: url(../img/HOME/Recurso_9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .featured-tours .flyer h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
  margin-left: 5%;
  position: absolute;
  max-width: 65%;
  font-size: 4.7rem;
  color: #fff;
  font-weight: 400;
  z-index: 100000;
  text-shadow: 0px 4px 6px #a8a8a8;
}

.main .featured-tours .flyer h2 i {
  margin: 0 .1em;
}

@media (max-width: 768px) {
  .main .featured-tours .flyer h2 {
    font-size: 3.5rem;
  }
}

.main .featured-tours .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 350px;
      grid-template-columns: auto 350px;
  -webkit-box-shadow: 0px 4px 10px -3px #757575;
  box-shadow: 0px 4px 10px -3px #757575;
}

@media (max-width: 768px) {
  .main .featured-tours .wrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.main .featured-tours .wrapper .description {
  background-color: #fff;
  padding: 1em;
}

.main .featured-tours .wrapper .description h3 {
  font-weight: bold;
  margin: 3px 0;
  text-transform: uppercase;
}

.main .featured-tours .wrapper .description h3::before {
  content: "";
  width: .1em;
  height: .85em;
  display: inline-block;
  margin-right: .3em;
  background-color: #ce1d47;
}

.main .featured-tours .wrapper .price {
  background-color: #ce1d47;
  min-width: 100%;
  color: #fff;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .featured-tours .wrapper .price .info {
  width: 50%;
  height: 100%;
  font-family: 'Nexa Light';
}

.main .featured-tours .wrapper .price .info .comming {
  font-size: .75em;
  line-height: 1.3em;
  text-transform: uppercase;
  display: block;
}

.main .featured-tours .wrapper .price .info .numb {
  font-size: 4.3em;
}

.main .featured-tours .wrapper .price .info .currency {
  font-size: .8em;
}

.main .featured-tours .wrapper .price .btn-outline {
  font-size: 1em;
  margin: 1.6em auto;
}

.main .we-mark {
  margin: 0 auto;
}

.main .we-mark h2 {
  position: relative;
  text-align: center;
  font-size: 2.5em;
}

.main .we-mark h2::after {
  content: "";
  display: block;
  width: 4em;
  height: 4px;
  background-color: #ce1d47;
  margin: 0 auto;
}

.main .we-mark .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.main .we-mark .wrapper .image {
  height: 100%;
  position: relative;
  right: -2em;
}

.main .we-mark .wrapper .image img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .we-mark .wrapper .image::before {
  content: "";
  display: inline-block;
  background: url(../img/HOME/Recurso_11.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -2em;
  width: 4em;
  height: 100%;
}

.main .we-mark .wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -2em;
  height: 110%;
  padding: 7em 4em 7em 7em;
  background-image: url(../img/HOME/Recurso_12.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
  line-height: 1.6em;
  text-align: center;
}

.main .we-mark .wrapper .content span {
  color: #ce1d47;
}

@media (max-width: 910px) {
  .main .we-mark .wrapper .image {
    display: none;
  }
  .main .we-mark .wrapper .content {
    left: 0;
    padding: 7em 2em 7em 2em;
    background: #e7e5e4;
    background: -webkit-gradient(linear, left top, right top, color-stop(49%, #e7e5e4), to(white));
    background: linear-gradient(to right, #e7e5e4 49%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e5e4', endColorstr='#ffffff',GradientType=1 );
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.main .promotions {
  padding: 4em;
  background: #ededed;
  margin: 3em 0;
}

.main .promotions .title {
  font-size: 2.3rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#d52553), color-stop(32%, #f18b43));
  background: linear-gradient(to right, #d52553 0%, #f18b43 32%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 0;
}

.main .promotions .title::before {
  content: "";
  width: .1em;
  height: .75em;
  display: inline-block;
  margin-right: .3em;
  background-color: #ce1d47;
}

.main .promotions .wrapper {
  display: -ms-grid;
  display: grid;
  gap: 3em;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

.main .promotions .wrapper .promo-card {
  max-width: 400px;
  padding: 1em;
  background-color: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 7px 2px #b0a9b0;
  box-shadow: 0px 0px 7px 2px #b0a9b0;
}

.main .promotions .wrapper .promo-card .image {
  width: 100%;
}

.main .promotions .wrapper .promo-card .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .promotions .wrapper .promo-card .buttons {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .promotions .wrapper .promo-card .buttons .btn-outline {
  border: 1px solid #f18b43;
  color: #f18b43;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  padding: .5em 1em;
  width: 100%;
  margin: .3em;
}

.main .promotions .wrapper .promo-card .buttons .btn-outline:hover {
  background: -webkit-linear-gradient(317deg, #d52553 31%, #df4f46 65%);
  color: #fff;
}

.main .clients-review {
  padding: 2em 1em;
  margin: 1em 0;
  background: #ededed;
}

.main .clients-review .header {
  position: relative;
  margin-left: 1em;
}

.main .clients-review .header h2 {
  font-size: 2.3rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#d52553), color-stop(35%, #f18b43));
  background: linear-gradient(to right, #d52553 0%, #f18b43 35%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1em;
}

.main .clients-review .header h2 span {
  font-family: 'Nexa Light';
}

.main .clients-review .header p {
  margin-left: 2.2em;
}

.main .clients-review .header::before {
  content: "";
  width: 3px;
  height: 4em;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main .clients-review .carousel {
  position: relative;
}

.main .clients-review .carousel .container {
  width: 90%;
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.main .clients-review .carousel .container .carousel__photo {
  background-image: url(../img/HOME/Recurso_18.png);
  max-width: 9em;
  max-height: 9em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.main .clients-review .carousel .container .carousel__photo img {
  width: 100%;
  margin: .1em;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .clients-review .carousel .container .carousel__description {
  width: 100%;
  padding: 1em;
}

.main .clients-review .carousel .container .carousel__description .description__footer {
  text-align: right;
}

.main .clients-review .carousel .container .carousel__description .description__footer p {
  text-transform: capitalize;
  font-weight: 700;
}

.main .clients-review .carousel .container .carousel__description .description__footer span {
  font-weight: 300;
}

.main .booking {
  background-color: #ededed;
  position: relative;
  min-height: 80vh;
  margin-top: 3em;
}

.main .booking .collage {
  background: tomato;
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  -ms-grid-columns: (minmax(17em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main .booking .collage .collage__item {
  width: 100%;
  height: 13em;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .booking .book-now {
  max-width: 650px;
  padding: 4.5em 2em;
  color: #fff !important;
  background-color: #d52553;
  background: -webkit-linear-gradient(317deg, #d52553 31%, #df4f46 65%);
  margin: 0 auto calc(15%) auto;
  -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  text-align: center;
  position: relative;
  z-index: 10;
  top: -30px;
}

.main .booking .book-now h2 {
  font-size: 3rem;
  margin: .3em 0;
}

.main .booking .book-now .btn-outline {
  margin: 1.3em auto;
}

.main .tours {
  background-color: #d9d9d9;
}

.main .tours .our-tours {
  padding: 1em;
  background-image: url(../img/Tours/Recurso_5.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 30%;
}

.main .tours .our-tours .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
  padding-top: 2.5em;
}

.main .tours .our-tours .title h2 {
  color: #ce1d47;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  text-align: right;
  font-size: 3em;
}

.main .tours .our-tours .title h2 span {
  letter-spacing: .7em;
  font-weight: 300;
  display: block;
  font-size: 22px;
  margin: 0;
  position: relative;
  bottom: -3px;
  right: -11px;
}

.main .tours .our-tours .title .decoration {
  display: inline-block;
  padding: .6em 1em;
  background-color: #676364;
  width: 13em;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
  position: relative;
  margin-left: 2em;
  font-family: 'Nexa bold';
}

.main .tours .our-tours .title .decoration::before {
  content: "";
  position: absolute;
  width: 2px;
  top: -10px;
  bottom: -10px;
  left: 0;
  background-color: #676364;
}

.main .tours .our-tours .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .1em;
  margin-bottom: 8em;
}

.main .tours .our-tours .wrapper .tour-card {
  background-color: #c82d57;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(1) .title {
  width: 100%;
  height: 27em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/Tours/Recurso_1.png);
  background-position: center;
  background-size: cover;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(1) .title p {
  font-weight: 700;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(1) .title p:nth-child(2) {
  font-size: 2.5em;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(1) .title p:nth-child(1), .main .tours .our-tours .wrapper .tour-card:nth-of-type(1) .title p:nth-child(3) {
  font-size: 3em;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(2) .title {
  width: 100%;
  height: 27em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/Tours/Recurso_2.png);
  background-position: center;
  background-size: cover;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(2) .title p {
  font-weight: 700;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(2) .title p:nth-child(2) {
  font-size: 2.5em;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(2) .title p:nth-child(1), .main .tours .our-tours .wrapper .tour-card:nth-of-type(2) .title p:nth-child(3) {
  font-size: 3em;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(3) .title {
  width: 100%;
  height: 27em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/Tours/Recurso_3.png);
  background-position: center;
  background-size: cover;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(3) .title p {
  font-weight: 700;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(3) .title p:nth-child(2) {
  font-size: 2.5em;
}

.main .tours .our-tours .wrapper .tour-card:nth-of-type(3) .title p:nth-child(1), .main .tours .our-tours .wrapper .tour-card:nth-of-type(3) .title p:nth-child(3) {
  font-size: 3em;
}

.main .tours .our-tours .wrapper .tour-card .decription {
  padding: 1em 3em 3em 3em;
  color: #fff;
  font-size: .9em;
  text-align: center;
}

.main .tours .our-tours .wrapper .tour-card .btn-outline {
  padding: .5em 2.8em;
  margin: 1.6em auto 0 auto;
  font-size: 1em;
}

.main .tours .tours-info {
  margin-bottom: 3em;
}

.main .tours .tours-info .custom-title {
  background-color: #c82d57;
  font-weight: 700;
  color: #ffffff;
  padding: 1em;
  font-size: 2.5em;
  text-align: center;
  max-width: 8.4em;
  margin: 0 auto;
  position: relative;
  top: -1.5em;
  text-transform: uppercase;
  font-size: 2.7em;
  font-family: 'Nexa bold';
}

.main .tours .tours-info .custom-title span {
  text-transform: capitalize;
  font-family: 'Nexa light';
  font-weight: 300;
}

.main .tours .tours-info .container {
  background-color: #fff;
  position: relative;
}

.main .tours .tours-info .container .city {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  margin-left: auto;
  position: relative;
}

.main .tours .tours-info .container .city .data {
  max-width: 550px;
  padding: 2em 2em 2em 3em;
}

.main .tours .tours-info .container .city .data h2 {
  color: #ce1d47;
  text-transform: capitalize;
  font-size: 3em;
}

.main .tours .tours-info .container .city .data h2 i {
  margin-right: .2em;
}

.main .tours .tours-info .container .city .data .info-container {
  max-width: 48%;
}

.main .tours .tours-info .container .city .data .info-container .title h3 {
  margin-bottom: 0;
  font-weight: 300;
  color: #ce1d47;
}

.main .tours .tours-info .container .city .data .info-container .descrip {
  margin-left: 1em;
  padding-left: 1em;
  position: relative;
}

.main .tours .tours-info .container .city .data .info-container .descrip::before {
  content: "";
  width: 2px;
  display: block;
  background-color: #bcbcbb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.main .tours .tours-info .container .city .data .icons {
  padding: 2.3em  1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .tours .tours-info .container .city .data .icons .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}

.main .tours .tours-info .container .city .video {
  position: relative;
  padding: 2em 0;
}

.main .tours .tours-info .container .city .video .container {
  background-color: #c82d57;
  height: 80%;
  position: relative;
}

.main .tours .tours-info .container .city .video .container iframe {
  position: relative;
  width: calc(100% - 10px);
  height: 100%;
  bottom: 10px;
  left: 10px;
}

.main .tours .tours-info .container .city .video .video-description {
  padding: .5em 1em;
  font-weight: 300;
  color: #ce1d47;
  text-align: center;
  -webkit-box-shadow: 0px 3px 10px 0px #969696;
  box-shadow: 0px 3px 10px 0px #969696;
}

.main .tours .tours-info .container .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 1em;
}

.main .tours .tours-info .container .middle .btn-outline {
  padding: .6em 2.2em;
  border-radius: 0;
  border: 1px solid #c82d57;
  color: #c82d57;
}

.main .tours .tours-info .container .middle .btn-outline:hover {
  cursor: pointer;
  background-color: #c82d57;
  color: #fff;
}

.main .tours .tours-info .container .middle ul {
  position: relative;
  margin-left: 1.5em;
}

.main .tours .tours-info .container .middle ul li {
  margin-left: 3em;
  font-size: 10px;
  font-family: 'Nexa light';
  line-height: 1.4em;
}

.main .tours .tours-info .container .middle ul li:first-child {
  color: red;
}

.main .tours .tours-info .container .middle ul::before {
  content: "";
  width: 2px;
  display: block;
  background-color: #bcbcbb;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.main .tours .tours-info .container .stops {
  padding: 1em;
  position: relative;
  margin-bottom: 3em;
}

.main .tours .tours-info .container .stops h2 {
  padding: 0 1.3em;
  width: 11em;
  font-weight: 300;
  color: #c82d57;
  font-family: 'Nexa light';
  margin-left: 5%;
}

.main .tours .tours-info .container .stops .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1em;
}

.main .tours .tours-info .container .stops .wrapper .sites-card {
  background-color: #c82d57;
}

.main .tours .tours-info .container .stops .wrapper .sites-card .image {
  width: 100%;
}

.main .tours .tours-info .container .stops .wrapper .sites-card .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .tours .tours-info .container .stops .wrapper .description {
  font-family: 'Calibri Light';
  color: #fff;
  padding: 1em;
  text-align: center;
}

.main .tours .tours-info .container .stops .wrapper .description h3 {
  margin-top: 0;
}

.footer {
  background-color: #ce1d47;
  padding: 3em 5%;
  color: #fff !important;
  position: relative;
  z-index: 100;
  font-family: 'Nexa light';
}

.footer h2 {
  font-size: 2.5em;
  font-weight: bolder;
  font-family: 'Nexa Bold';
}

.footer h3 {
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Nexa Bold';
  margin-bottom: 0;
}

.footer .wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}

.footer .wrapper .info {
  margin-bottom: 3em;
}

.footer .wrapper .info h2 {
  margin-top: 1em;
}

.footer .wrapper .policy h2 {
  margin-top: 1em;
}

.footer .wrapper .policy a {
  color: #fff;
  text-decoration: underline;
}

.footer .wrapper .contact-us ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.4em;
}

.footer .wrapper .contact-us ul li i {
  margin-right: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: blo;
}

.footer .wrapper .news-offers form .btn {
  margin: 1.5em 0 1.5em auto;
  position: relative;
  border-radius: 4px;
  padding-top: .5em;
  padding-bottom: .5em;
}

.footer .wrapper .social-networks .box {
  display: inline-block;
  padding: 1.1em;
  border-radius: 3px;
  background-color: #fff;
  margin: 1em .3em;
  position: relative;
  -webkit-transition: ease .3s all;
  transition: ease .3s all;
}

.footer .wrapper .social-networks .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .wrapper .social-networks .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2em;
  color: #ce1d47;
}

.footer2 {
  background-color: #ce1d47;
  padding: 3em 5%;
  color: #fff !important;
  position: relative;
  z-index: 100;
}

.footer2 h2 {
  font-size: 2.5em;
  font-weight: bolder;
  font-family: 'Nexa Bold';
  margin-top: 1em;
  margin-bottom: .5em;
}

.footer2 h3 {
  font-size: 2em;
  font-weight: bolder;
  font-family: 'Nexa Bold';
  margin-bottom: 0;
}

.footer2 .wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
}

.footer2 .wrapper .info {
  margin-bottom: 3em;
}

.footer2 .wrapper .policy a {
  color: #fff;
  text-decoration: underline;
}

.footer2 .wrapper .contact-us ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.footer2 .wrapper .contact-us ul li i {
  margin-right: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: blo;
}

.footer2 .wrapper .news-offers form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer2 .wrapper .news-offers form .btn {
  margin: 0 .3em;
  position: relative;
  border-radius: 17px;
  padding-top: .2em;
  padding-bottom: .2em;
}

.footer2 .wrapper .news-offers form .btn i {
  color: #fff;
}

.footer2 .wrapper .social-networks .box {
  display: inline-block;
  padding: 1.1em;
  border-radius: 13px;
  background-color: #fff;
  margin: 1em .1em;
  position: relative;
  -webkit-transition: ease .3s all;
  transition: ease .3s all;
}

.footer2 .wrapper .social-networks .box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer2 .wrapper .social-networks .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #ce1d47;
}

.networks {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}

.networks .block {
  padding: 1.8em;
  display: inline-block;
  background-color: #ce1d47;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
  color: #fff;
  -webkit-box-shadow: 0px 0px 9px -2px #817e7e;
  box-shadow: 0px 0px 9px -2px #817e7e;
  cursor: pointer;
}

.networks .block i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2em;
}

.networks .block .fa-times {
  display: none;
}

.networks .block.whatsapp.active {
  bottom: 6em;
  background-color: #5cb149;
}

.networks .block.messenger.active {
  bottom: 11em;
  background-color: #3b76ba;
}

.networks .block.button.active {
  background-color: #ec6454;
}

.networks .block.button.active .fa-times {
  display: inline-block;
}

.networks .block.button.active .fa-comments {
  display: none;
}

.glide__arrows {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.glide__arrows .glide__arrow--right,
.glide__arrows .glide__arrow--left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

.glide__arrows .glide__arrow--right i,
.glide__arrows .glide__arrow--left i {
  font-size: 4em;
  color: #70706e;
}

.glide__arrows .glide__arrow--right {
  right: 0;
}

.glide__arrows .glide__arrow--left {
  left: 0;
}
/*# sourceMappingURL=main.css.map */