$background: #ececec;

$purple: #ce1d47;
$orange: #f08237;
$lightRose: #ddaec0;

$messengerBlue: #3b76ba;
$whatsappGreen: #5cb149;


// background: rgb(213,37,83);
// background: linear-gradient(135deg, rgba(213,37,83,1) 0%, rgba(223,79,70,1) 50%);