$background: #ececec;
$text: #70706e;
$title: #3e4450;

$purple: #ce1d47;
$orange: #f08237;
$lightRose: #ddaec0;

$messengerBlue: #3b76ba;
$whatsappGreen: #5cb149;

$gradientBackground: rgb(213,37,83);
$gradient: -webkit-linear-gradient(135deg, rgba(213,37,83,1) 0%, rgba(223,79,70,1) 50%);


// -webkit-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
// -moz-box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);
// box-shadow: 0px 0px 7px 2px rgba(176,169,176,1);